# Ignore arquivos de configuração do ambiente
.env

# Ignore diretórios de cache
__pycache__/
*.pyc

# Ignore diretórios de ambientes virtuais
venv/
env/

# Ignore arquivos de log
*.log
db/log.txt

# Ignore arquivos de banco de dados
db/estoque

# Ignore arquivos de pacotes instalados
*.egg-info/
dist/
build/

# Ignore arquivos do VS Code
.vscode/

# Ignore arquivos de UI
*.ui

